
{% extends 'layout.html.twig' %}
{% block body %}
    <div id="main">
        <div class="header">
            <h1>Promotions</h1>

        </div>
        <div class="content" >
            <div class="pure-g" style="margin-bottom: 20px !important; margin-top: 20px!important;">
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>

                <div class="pure-u-1-5">
                    <a class="pure-button" href="{{ base_url()~'/'~'admin/discount/add' }}" >+ Add Promotion</a>
                </div>

            </div>

            <table class="pure-table pure-table-horizontal" >
                <thead>
                <tr>

                    <th>Promotion Name</th>
                    <th>Promotion type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for discount in discounts %}
                <tr id="discount-{{ discount.id }}">

                    <td>{{ discount.name }}</td>
                    <td>{{ discount.type|upper }}</td>
                    <td>{{ discount.start_date|date("m/d/Y") }}</td>
                    <td>{{ discount.end_date|date("m/d/Y") }}</td>
                    <td>
                        <div class="pure-button-group" role="group" aria-label="...">
                            <a class="pure-button apply-discount {% if discount.enabled==1 %}button-success{% else %}button-warning{% endif %}" data-id="{{ discount.id }}" data-enabled="{{ discount.enabled }}" title="Apply Discount">{% if discount.enabled==0 %}<i class="fa fa-ban"></i>{% else %}<i class="fa fa-check"></i>{% endif %}</a>
                            <a class="pure-button edit-discount" data-id="{{ discount.id }}" title="Edit Discount"><i class="fa fa-edit"></i></a>
                            <a class="pure-button delete-discount" data-id="{{ discount.id }}" title="Delete Discount"><i class="fa fa-trash"></i></a>

                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
    </div>
    </div>
{% endblock %}